
footer {
    background-color: #37c125;
    color: #fff;
    padding: 20px 0;
    height: 7rem;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}

.logo img {
    max-width: 100px;
    height: 100px;
}

.redes-sociales {
    display: flex;
  }
  
  .icono-red-social {
    color: #000; 
    font-size: 24px; 
    margin-right: 40px; 
  }
  

.colaboradores {
    max-width: 400px;
    text-align: left;
}

.colaboradores h2 {
    margin-bottom: 10px;
    font-size: 20px;
}

.colaboradores ul {
    padding: 0;
    font-size: 12px;
}

